a,
ul,
li {
  text-decoration: none;
  list-style: none;
}
.plane {
  height: 268px;
  width: 260px;
  left: 47%;
  top: -1%;
  transform: rotateZ(5deg);
}
.navbar-toggler {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
@keyframes udanta-plane {
  0% {
    top: -10%;
  }
  50% {
    top: -20%;
    left: -20%;
  }
  100% {
    top: -100%;
    left: -100%;
  }
}
.scroll-to-top {
  height: 50px;
  width: 50px;
  background-color: #029d9d;
  top: 90%;
  right: 2%;
  border-radius: 6px;
  cursor: pointer;
  z-index: 999;
}
.scroll-to-top-btn {
  font-size: 2rem;
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-toggle {
  border: none !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 1s ease-in-out;
}
.nav-link:hover {
  color: var(--clr-primary-5);
  text-decoration: underline;
}

.cbc {
  font-family: "Comforter Brush", cursive !important;
  color: hsl(47, 98%, 50%);
}
.af {
  font-family: "Abril Fatface", cursive !important;
}
.rounding-effect {
  animation: roatate360 8s linear infinite;
}

@keyframes roatate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
.hover:hover {
  background-color: whitesmoke !important;
  border: 1px solid #029d9d;
  color: black !important;
}

.img-hover {
  height: 70vh;
  width: 35vw;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.img-anim {
  transition: all 0.4s ease-in-out;
}
.letters_cbc {
  bottom: 7%;
  left: 6%;
  font-size: 2rem;
  z-index: 1;
  cursor: pointer;
}
.letters_af {
  bottom: 1%;
  left: 6%;
  font-size: 2rem;
  color: whitesmoke;
  font-weight: bolder;
  z-index: 1;
  cursor: pointer;
}
.black-shades {
  background: linear-gradient(hsla(222, 46%, 17%, 0), hsla(222, 46%, 17%, 0.7));
  height: 90%;
  width: 100%;
  bottom: 0;
}
.img-hover:hover .img-anim,
.img-hover:hover .black-shades + .img-anim {
  transform: scale(1.1);
  cursor: pointer;
}
.card-time {
  height: 75px;
  width: 75px;
  border-radius: 10px;
  top: 10px;
  left: 10px;
  background-color: hsl(47, 98%, 50%);
  display: grid;
  place-items: center;
}
.ionicon {
  padding-top: 8px;
  font-size: 2rem;
  color: whitesmoke;
}
.card-text-hover:hover {
  color: #029d9d !important;
  cursor: pointer;
}
.row-2-images {
  height: 70vh;
  width: 35vw;
}
@media (width < 768px) {
  .navbar {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .first-container {
    gap: 1.5rem;
  }
  .layer-1 {
    padding: 1.5rem !important;
  }
  .row-2-images {
    width: 100%;
  }
  .img-hover {
    width: 90%;
  }
  .container-2 {
    gap: 1.5rem;
  }
  .gap {
    gap: 1.5rem;
  }
}
@media (width < 945px) {
  .row-2-images {
    height: 50vh;
  }
  .img-hover {
    height: 50vh;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
