.carousel-fixed {
  position: fixed;
  top: 10px;
  height: 55vh;
  width: 50vw;
  left: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-fixed .carousel-inner .carousel-item img {
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .carousel-fixed {
    height: auto;
    position: static;
    width: auto;
    border-radius: 0;
  }
}
.custom-background {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.content-section {
  padding: 20px;
  overflow-y: auto;
  max-height: 100vh;
  background: rgba(255, 255, 255, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.custom-background:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
